<!-- SocialConnect Post Caption Component -->
<link rel="stylesheet" href="../css/globals.css">
<link rel="stylesheet" href="../css/post_caption.css">

<div class="post-caption-container" role="group" aria-label="Post caption">
    <div class="caption-wrapper">
        <span class="username" onclick="gotoProfile('{{user_name}}')" role="button" tabindex="0">{{user_name}}</span>
        <span class="caption-text">{{caption}}</span>
    </div>
</div>

<!-- Include JavaScript -->
<script src="../js/post_caption.js"></script>
